<!DOCTYPE html>
<html lang="en">
<head>
    <title>Animal Adoption Centre</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="text-center text-white center-absolute">
        <h1>Adopt an Animal Today</h1>
        <p class="lead fs-4">Welcome to the Animal Adoption Centre. We believe every animal deserves a loving home, and we are dedicated to connecting you with your new fluffy friend. Explore our adoption process and meet the animals who are eagerly waiting for a family like yours. Together, we can give these animals the love and care they deserve.</p>
    </div>
</body>
</html>
